body,html{
    height: 100vh;
}
#sidebar{
    background-color:#1c2e4a ;
    display:flex;
    flex-direction: column;
    height: 100vh;
    padding: 15px;
}
.sidebar_btn{
    width: 100%;
    margin: 10px auto;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 10 10 100 black;
}
#main{
    padding:0;
    margin: 0;
    background-color: whitesmoke;
}
#nav{
    width: 100%;
    padding: 0;
}
#banner{
    background-color: white;
    width: 95%;
    border-radius: 20px;
    box-shadow:10px 10px 10px black;
}